[Unit]
Description=OreSat Star Tracker daemon.

[Service]
User=root
Group=root
Type=forking
PIDFile=/run/oresat-star-trackerd.pid
ExecStart=/usr/bin/python3 /usr/bin/oresat-star-tracker -d
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
