<!DOCTYPE html>
<html>
    <head>
        <title>OreSat Star Tracker</title>
    </head>
    <body>
        <Center>
            <h1>OreSat Star Tracker</h1>
        </Center>
        <Center>
            <div>
                <!--the "//:0" is a basically the way to make any empty img-->
                <img id="frame" src="//:0"/>
                <p>
                    Declination: <span id="dec">0.000</span>
                    / Right Angle: <span id="ra">0.000</span>
                    / Orientation: <span id="ori">0.000</span>
                </p>
                <label for="coarse_time">Coarse Time:</label>
                <input type="number" id="coarse_time" name="coarse_time" value=10><br><br>
                <label for="fine_time">Fine Time:</label>
                <input type="number" id="fine_time" name="fine_time" value=10><br><br>
                <label for="auto_exposure">Auto Exposure:</label>
                <label class="switch">
                    <input type="checkbox" id="auto_exposure">
                    <span class="slider round"></span>
                </label>
                <br><br>
                <input type="submit" id="submit" value="Submit">
                <p hidden id="error_text">Last error: <span id="error"> </span></p>
            </div>
        </Center>
        <script type="text/javascript">
            const ws = new WebSocket("ws://" + location.host + "/websocket");

            ws.onmessage = function (e) {
                console.log(e)
                const data = JSON.parse(e.data);
                if (data.frame)
                    document.getElementById("frame").src = data.frame;
                if (data.dec)
                    document.getElementById("dec").innerHTML = data.dec.toFixed(3);
                if (data.ra)
                    document.getElementById("ra").innerHTML = data.ra.toFixed(3);
                if (data.ori)
                    document.getElementById("ori").innerHTML = data.ori.toFixed(3);
                if (data.error) {
                    document.getElementById("error").innerHTML = data.error;
                    document.getElementById("error_text").hidden = false;
                }
            };

            document.getElementById("submit").addEventListener("click", Submit);

            function Submit() {
                const message = {
                    coarse_time: parseInt(document.getElementById("coarse_time").value),
                    fine_time: parseInt(document.getElementById("fine_time").value),
                    auto_exposure: document.getElementById("auto_exposure").checked,
                };

                ws.send(JSON.stringify(message));
            };
        </script>
    </body>
</html>
