Source: oresat-star-tracker
Maintainer: PSAS <oresat@pdx.edu>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Homepage: https://github.com/oresat/oresat-star-tracker


Package: oresat-star-tracker
Architecture: armhf
Depends: python3, python3-numpy, python3-opencv, python3-pydbus, python3-systemd, python3-astropy, swig (>=4.0.1), astrometry.net
Description: Attitude determination using star tracking on OreSat.
