[Unit]
Description=daemon for Oresat's star tracker software.

[Service]
Type=forking
PIDFile=/run/oresat-star-tracker.pid
ExecStart=/usr/bin/python3 /usr/share/oresat-star-tracker/src/startracker_daemon.py start
ExecStop=/usr/bin/python3 /usr/share/oresat-star-tracker/src/startracker_daemon.py stop

[Install]
WantedBy=multi-user.target
