Package: oresat-star-tracker
Version: 0.0.1
Architecture: all
Essential: no
Section: web
Priority: optional
Depends: python3, python3-numpy, python3-opencv, python3-pydbus, python3-systemd, python3-astropy, swig (>=4.0.1), astrometry.net
Maintainer: Umair Khan
Description: Attitude determination using star tracking on OreSat.
