{% extends 'base.html' %}

{% block content %}
  <!--the '//:0' is a basically the way to make any empty img-->
  <img id='image' src='//:0' alt='capture'/>
  <p>
    Declination: <span id='dec'>0</span>
    / Right Angle: <span id='ra'>0</span>
    / Orientation: <span id='ori'>0</span>
  </p>
  <script>
    async function getLastSolve() {
      let objs = await readValue('0x6001', null);
      console.log(objs);
      document.getElementById('ra').innerHTML = objs.subindexes[0x1].value;
      document.getElementById('dec').innerHTML = objs.subindexes[0x2].value;
      document.getElementById('ori').innerHTML = objs.subindexes[0x3].value;
      document.getElementById('image').src = 'data:image/jpg;base64, ' + objs.subindexes[0x5].value;
    }

    // set state to star tracking state  
    writeValue('0x6000', null, 0x3);

    getLastSolve();
    const interval = setInterval(function() {
      getLastSolve();
    }, 5000);
  </script>
{% endblock %}
