name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Compile beast
      run: |
        make -C oresat_star_tracker/beast

    - name: Lint with flake8
      run: flake8 . --count --show-source --statistics

    - name: Test with Python's unittest
      run: python -m unittest

    - name: Test building pypi package
      run: python -m build
